body {
  background-color: #ddd7d2;
  color: #2e2e2e;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

.add-product-container {
  max-width: 700px;
  margin: 60px auto;
  background-color: #b8aeae;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.add-product-container h2 {
  text-align: center;
  color: #2e2e2e;
  font-size: 28px;
  margin-bottom: 30px;
  font-style: italic;
}

.add-product-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-product-form input[type="text"],
.add-product-form input[type="number"],
.add-product-form input[type="file"] {
  padding: 12px 16px;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
}

.add-product-form input::placeholder {
  color: #666;
}

.add-product-form button {
  padding: 12px;
  background-color: #fff;
  color: #2e2e2e;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  font-style: italic;
}

.add-product-form button:hover {
  background-color: #2e2e2e;
  color: #fff;
}

.success-msg, .error-msg {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

.success-msg {
  color: #2e2e2e;
}

.error-msg {
  color: #f55;
}

/* Products Section */
.product-list {
  margin-top: 50px;
  
  
}

.product-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(34, 34, 34, 0.1);
  margin-bottom: 20px;
  

}

.product-card h3 {
  color: #2e2e2e;
  margin: 0 0 10px;
}

.product-card p {
  margin: 5px 0;
  color: #444;
}

.product-card img {
  margin-top: 10px;
  max-width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
}
