.cart-container {
  padding: 30px;
  background-color: #f5f3f3;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
}

.cart-container h2 {
  color: #5b5252;
  margin-bottom: 20px;
}

.cart-user {
  font-style: italic;
  margin-bottom: 20px;
}

.cart-item {
  border: 1px solid #ccc;
  background-color: #ffffff;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.cart-item img {
  border-radius: 8px;
  width: 120px;
  height: auto;
}

.cart-item-info {
  flex-grow: 1;
}

.cart-item-info h3 {
  color: #4d4d4d;
  margin-bottom: 8px;
}

.cart-item-info p {
  margin: 4px 0;
}

.cart-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.cart-buttons button {
  padding: 5px 10px;
  border: none;
  background-color: #5b5252;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.cart-buttons button:hover {
  background-color: #6c6060;
}

.cart-buttons button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.remove-btn {
  background-color:rgb(135, 133, 133);
}

.remove-btn:hover {
  background-color:#b8aeae;
}

.cart-total {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 30px;
  color: #333;
}

.checkout-btn {
  background-color:rgb(135, 133, 133);
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.checkout-btn:hover {
  background-color: #b8aeae;
}
