.footer {
  background-color: #b8aeae;
  color: #2e2e2e;
  padding: 20px 0;
  margin-top: 50px;
  font-style: italic;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

.footer .brand {
  font-weight: bold;
  color: #2e2e2e;
  font-style: normal;
}
