/* Login.css */

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #ddd7d2; /* soft body bg */
  color: #2e2e2e;
}

.login-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 40px;
  background-color: #b8aeae; /* same as register */
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hh {
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
  color: #2e2e2e;
  font-style: italic;
}

input {
  padding: 12px 16px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
  border-radius: 6px;
  font-size: 16px;
  transition: border 0.3s, box-shadow 0.3s;
}

input:focus {
  outline: none;
  border-color: #2e2e2e;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
  padding: 12px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  font-style: italic;
}

button:hover {
  background-color: #b8aeae;
  color: #2e2e2e;
}

.forgot-btn {
  background: none;
  border: none;
  color: #2e2e2e;
  font-style: italic;
  cursor: pointer;
  text-decoration: underline;
}

p {
  text-align: center;
  margin: 0;
  font-size: 16px;
}

.success-msg {
  color:#2e2e2e;
}

.error-msg {
  color: #f55;
}

.forgot-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
