/* Register.css */

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color:	#847e79;
  color:	#ddd7d2;
}

.register-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 40px;
  background-color:#999090;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hh{
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
  color:#2e2e2e;
  font-style: italic;
}

input {
  padding: 12px 16px;
  border: 1px solid white;
  background-color: #fff;
  color: bl;
  border-radius: 6px;
  font-size: 16px;
  transition: border 0.3s;
}

input {
  outline: none;
  border-color: #fff;
}

button{
  padding: 12px;
  background-color: #fff;
  color: #000;
  border: none;
 border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  border-color: #fff;
  transition: background-color 0.3s;
  font-style: italic;
}

button:hover {
  background-color:#b8aeae;
  color:#2e2e2e ;
}

.msg {
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
  color: #f55;
  font-style: italic;
}
